<div class="container">
  <div class="row">
    <h2>Sign In</h2>
    <form (submit)="logInUser($event)">
      <div class="form-group">
        <input class="form-control" id="signInLogin" placeholder="Login">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="signInPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="btnSignIn">Sign In</button>
      </div>
    </form>
  </div>
</div>

