<div class="container">
  <div class="row">
    <h2>Sign Up</h2>
    <form (submit)="logUpUser($event)">
      <div class="form-group">
        <input class="form-control" id="authLogin" placeholder="Login">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="authEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="authPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="authConfirmPassword" placeholder="Confirm password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="btnSignUp">Sign Up</button>
      </div>
    </form>
  </div>
</div>
