<div class="container">
  <div class="row">
    <h2>Sign Up</h2>
    <form>
      <div class="form-group">
        <input [(ngModel)]="login" name="_login" class="form-control" placeholder="Login" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="email" name="_email" placeholder="Email">
      </div>
      <div class="form-group">
        <select [(ngModel)]="role" name="_role" style='display:inline-block' class="form-control">
          <option disabled selected>-</option>
          <option value="Admin">Admin</option>
          <option value="Dentist">Dentist</option>
          <option value="Patient">Patient</option>
          <option value="Nurse">Nurse</option>
          <option value="Intern">Intern</option>
        </select>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" name="_password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="_comfirmPassword" placeholder="Confirm password">
      </div>
      <div class="form-group">
        <button (click)="logUpUser()"  class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>
