<div class="container">
  <div class="row">
    <h2>Sign Up</h2>
    <form>
      <div class="form-group">
        <input class="form-control" #authLogin placeholder="Login">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" #authEmail placeholder="Email">
      </div>
      <div class="form-group">
        <select #filterText style='display:inline-block' class="form-control">
          <option disabled selected>-</option>
          <option value="Dentist">Dentist</option>
          <option value="Patient">Patient</option>
          <option value="Nurse">Nurse</option>
          <option value="Intern">Intern</option>
        </select>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" #authPassword placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" #authConfirmPassword placeholder="Confirm password">
      </div>
      <div class="form-group">
        <button type="submit" (click)="logUpUser(authLogin.value, authEmail.value, filterText.value, authPassword.value, authConfirmPassword.value)"  class="btn btn-primary" id="btnSignUp">Sign Up</button>
      </div>
    </form>
  </div>
</div>
