<div class="container">
  <div class="row">
    <h1 style="text-align: center">Beautiful Dental Websites</h1>
    <h2 style="text-align: center">Contemporary, Mobile-friendly Website Design that Connects</h2>
    <p style="text-align: center">With innovation and attention to detail, our talented Smile Marketing design team translates your preferences
      and practice philosophy into a unique design that engages current patients and converts website visitors into
      reception room new patients.</p>

    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2017/10/midland-park-dental.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2018/06/trust-dental-group.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2018/06/seaport-dental.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2018/06/red-hill-dental.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2018/06/focus-orthodontics.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.vortala.com/static/uploads/8/files/2018/06/green-apple-dental.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

